@media screen and (min-width:1024px) {
     li.service_all.li-list:hover ul.service-items {
          display: block;
     }
     .service-items li.service-list:hover {
          background-color: #e49300;
     }

}

@media screen and (max-width:480px ) and (min-width:345px) {

     /* permanent styling------------------------ */
     .row {
          flex-wrap: wrap;
     }

     /* over------------------------------------------- */

     /* main-head styling------------------------------ */
     .head-maker-info {
          margin: auto;
     }

     .opportunity-content {
          margin: auto;
     }

     /* nav-bar styling------------------------------------------------- */
     .navigation {
          display: none;
          margin: 0 15px;
          border-top: 1px solid #e0e0e0;
          border-right: 1px solid #e0e0e0;
          border-left: 1px solid #e0e0e0;
          background-color: #eee;
     }
     
     ul.navy-ul {
          flex-wrap: wrap;
          gap: 0;
     }
     
     li.li-list {
          padding: 20px 0 20px 17px;
          border-bottom: 1px solid #e0e0e0;
          width: 100%;
     }
     
     ul.service-items {
          background-color: #eee;
          width: 100%;
     }
     
     ul.service-items li.service-list a {
          color: #999;
          font-size: 14px;
     }
     
     .service-items li.service-list a:hover {
          color: #000;
     }

     a.nav-links {
          font-size: 13px;
          color: #000 !important;
     }

     .buy-btn {
          margin-top: 0;
          display: none;
     }

     button.list-btn {
          display: block;
     }

     .down-work {
          /* display:inline; */
          /* color: #000 !important; */
          display: none;
     }

     .service_all.li-list {
          display: flex;
          justify-content: space-between;
          padding: 0;
     }

     .service_all.li-list button {
          background-color: orange;
          padding: 20px;
          color: #fff;
          border: none;
     }


     .service-cap.nav-links {
          margin-top: 20px;
          margin-left: 17px;
     }



     .logo-bar {
          width: 100%;
          margin: 10px 15px 25px 15px;
     }

     .logo-bar img {
          margin-bottom: 0;
          margin-top: 0;
     }

     .homy {
          padding-right: 0;
          display: flex;
          justify-content: space-between;
          width: 100%;
     }

     .homy button {
          display: block;
          background: orange;
          border: none;
          padding: 20px 25px;
          margin-top: 5px;
          font-size: 15px;
          font-weight: 700;
          color: #fff;
     }

     .homy button i {
          margin-right: 10px;
     }

     .homy-2 {
          padding-right: 0;
     }

     .homy-2 a i {
          color: #000 !important;
          font-size: 13px !important;
     }

     /* over--------------------------------------------------- */

     /* section styling-------------------------------------------- */

     /* theme_slider styling----------------------------------------------- */

     .slider-detail-bar {
          position: static;
          background-image: none;
          background-color: #fff;
     }

     .slider-detail-bar .container .row {
          justify-content: left;
     }

     p.color-edit {
          color: #999;
     }

     p.bold-color-edit b {
          color: #5a4343;
     }

     .social_point a i {
          color: #5a4343;
     }

     .call_point {
          border-bottom: 1px solid rgb(220, 220, 220);
          margin: 0 20px;
          width: 100%;
          padding: 20px 0
     }

     .time_point {
          border-bottom: 1px solid rgb(220, 220, 220);
          margin: 0 20px;
          width: 100%;
          padding: 20px 0;
     }

     .mail_point {
          border-bottom: 1px solid rgb(220, 220, 220);
          margin: 0 20px;
          width: 100%;
          padding: 20px 0
     }

     .social_point {
          margin: 0 20px;
          width: 100%;
          padding: 20px 0
     }

     .theme_bar+.container-bar-1 {
          position: static;
          margin: 0 15px;
     }

     .theme_bar+.container-bar-2 {
          position: static;
          margin: 0 15px;

     }

     .theme_bar+.container-bar-3 {
          position: static;
          margin: 0 15px;

     }

     .theme_bar+.container-bar-4 {
          position: static;
          margin: 0 15px;

     }

     .theme_slider button.slick-prev.slick-arrow {
          position: absolute;
          top: 30px;
          bottom: auto;
          left: 10px;
     }

     .theme_slider button.slick-next.slick-arrow {
          position: absolute;
          top: 30px;
          bottom: auto;
          right: 10px;
          left: auto;
     }

     .theme_bar_parent h1 {
          color: #000;
          padding: 10px 0;
          font-size: 36px;
     }

     .theme_bar_parent p {
          color: #999;
          padding: 10px 0;
     }

     .slider_btn {
          padding-bottom: 20px;
          padding-top: 10px;
     }

     .slider_btn button:last-child {
          padding: 20px 20px;
          box-shadow: rgb(211, 211, 211) 0px 0px 1px 1px;
     }

     .slider_btn button:last-child:hover {
          box-shadow: rgb(184, 184, 184) 0px 0px 1px 1px;
     }

     /* over--------------------------------------------- */
     /* over------------------------------------------------------------- */

     /* outside_construction styling---------------------------------- */
     .outside_construction {
          flex-wrap: wrap;
     }

     .building {
          width: 100%;
          padding: 15px 0;
     }

     .building .main-parent {
          padding: 0 15px;
     }

     .roofing {
          width: 100%;
          padding: 15px 0;
     }

     .roofing .main-parent {
          padding: 0 15px;
     }

     .main-parent-div {
          padding: 15px 15px 60px 15px;
     }

     /* over--------------------- */

     /* main-category-house-parent styling---------------------------------- */
     .main-category-house-parent {
          margin: 0 15px;
     }

     /*category_construction styling----------------------------- */

     .category_list ul {
          flex-wrap: wrap;
          justify-content: space-between;
          border-bottom: 3px solid orange;
     }

     .category_list ul li {
          display: none;
     }

     .category_list ul li.active-part {
          display: block;
          padding: 14px 0;
          border: none;

     }

     .category_construction {
          display: block;
     }

     .category_list ul li.btn {
          display: block;
          padding-bottom: 20px;
     }

     .append-arrows {
          justify-content: space-between;
     }

     /* house-list-slider editing-------------------- */
     .append-arrows button.slick-next.slick-arrow {
          width: 50%;
     }

     .append-arrows button.slick-prev.slick-arrow {
          width: 50%;
     }

     .house-list-slider {
          width: 100%;

     }

     /* over---------------------------------------- */

     /* over ------------------------------------------------- */
     /* over------------------------------------- */

     /* renovation_construction styling-------------------------- */

     .renovation_construction {
          padding: 45px 15px;
     }

     .reno-windows {
          width: 100%;
          padding-bottom: 30px;
     }

     .reno-windows-work {
          padding: 0;
     }

     .reno-windows-img img {
          width: 100%;
     }

     .reno-dream-house {
          width: 100%;
          padding-bottom: 30px;
     }

     .reno-dream-house-work {
          padding: 0;
     }

     .reno-dream-img img {
          width: 100%;
     }

     .reno-details {
          width: 100%;
     }

     /*over--------------------------------- */
     /*professional_request styling--------------------------------- */

     .professional_request {
          padding: 30px 15px;
     }

     .request-bar {
          text-align: center;
          font-size: 11px;
     }

     .request-bar p {
          padding-top: 10px;
          font-size: 13px;
     }

     .requ-btn {
          margin: auto;
     }

     .buy-btn.btn_2 {
          padding-top: 0;
     }

     .requ-request {
          padding: 0;
     }

     /*over-------------------------------- */

     /*promise_value------------------------------------ */

     .p_v-cont {
          padding: 7em 15px;
          font-size: 14px;
     }

     /* over------------------------------ */

     /* author_bar styling------------------------------------ */
     .author_bar {
          margin: 0 15px 230px 15px;
     }

     .slider-button-work {
          padding-right: 0;
          border-top: 4px solid orange;
          border-left: none;
          margin-bottom: 0;
     }

     .author-div {
          border-radius: 3px;
     }

     .part-01 {
          margin-bottom: 15px;
     }

     .author-slider button.slick-prev.slick-arrow {
          left: 0;
          right: auto;
          padding: 30px 0;
          width: 49%;
          bottom: -55px;
     }

     .author-slider button.slick-next.slick-arrow {
          right: 0;
          bottom: -55px;
          padding: 30px 0;
          width: 49%;
     }

     .author-work-place {
          flex-wrap: wrap;
          padding: 30px 30px;
     }

     .auth-img {
          width: 100%;
          margin-right: 0;
     }

     .auth-img img {
          width: 100%;
     }

     .auth-info {
          margin-top: 20px;
          margin-bottom: 20px;
     }

     .auth-info p {
          font-size: 13px;
     }

     .auth-content p {
          font-size: 13px;
     }

     /*over------------------------------ */

     /*partner-sect styling------------------- */

     .partner-sect {
          padding: 0 15px;
     }

     .partner-sect .container .row {
          justify-content: center;
          gap: 15px;
     }

     .part-company {
          margin-bottom: 0;

          width: auto;
     }

     .part-company.partner-paddy {
          margin-bottom: 60px;
     }

     /*over---------------------------------- */

     /*site_obj styling----------------------------------- */
     .site_obj {
          padding: 0 15px 60px 15px;
     }

     .logo-side {
          width: 100%;
          margin-right: 0;
          margin-bottom: 20px;
     }

     .logo-side p {
          display: inline;
     }

     .extras {
          width: 100%;
     }

     .extras a {
          font-size: 14px;
     }

     .our-ser {
          width: 100%;
     }

     .our-ser a {
          font-size: 14px;
     }

     .contect {
          width: 100%;
     }

     .contect p {
          font-size: 14px;
     }

     /*over--------------------------------- */

     /* ---------------------------footer styling------------------------*/
     /*---------------------last_copyright styling------------------------ */
     .last_copyright .container .row {
          justify-content: center;
     }

     .last_copyright {
          padding: 10px 0;
     }

     .left-bar {
          margin: 0;
     }

     .right-bar {
          margin: 0;
     }

     /*----------------------over---------------------------- */
     /*------------------over-----------------*/
}