* {
     padding: 0;
     margin: 0;
}

.row {
     display: flex;
     justify-content: space-between;
}

body {
     background-color: #99999930;
     font-family: "Open Sans", sans-serif;
}

.container {
     max-width: 1180px;
     margin: auto;
}

a {
     text-decoration: none;
}

li {
     list-style: none;
}

/*---------------------------------------header styling----------------------------------- */

/*----------------------main-head styling-------------------- */
.main-head {
     background-color: transparent;
}

/* over---------------------------------------- */

/*------------------------head-maker-info------------ */
.head-maker-info {
     color: #999;
     padding: 15px 0;
}

.head-maker-info p {
     font-size: 13px;
}

/*over--------------------------------------------------- */


/*-------------------------------opportunity-content styling--------------------------------- */
.opportunity-content a {
     color: #999;
     font-size: 13px;
}

/* --------------------------hover editing------------------------------ */
.opportunity-content ul li a:hover {
     color: #9d7e7e;
}

.opportunity-content ul {
     display: flex;
     gap: 20px;
}

.opportunity-content ul li.li-edit {
     padding-top: 15px;
     padding-bottom: 15px;
}

/*---------------------dropdown editing----------------- */
.opportunity-content ul li.oppor-sub {
     position: relative
}

.opportunity-content ul li.oppor-sub ul.oppor-menu {
     position: absolute;
     width: 152px;
     z-index: 1;
     left: -10px;
     top: 51px;
     background-color: #f2f2f2;
     display: none;
}

.opportunity-content ul li.oppor-sub ul.oppor-menu li.oppor-item a {
     padding: 10px 10px;
}

.opportunity-content ul li.oppor-sub ul.oppor-menu li.oppor-item a:hover {
     color: #9d7e7e;
}

.opportunity-content ul li.oppor-sub:hover ul.oppor-menu {
     display: block;
}

.opportunity-content ul li ul.oppor-menu li.oppor-item a {
     display: block;
     color: #999999e3;
     border-bottom: 1px solid rgb(192, 192, 192);
}

/*over---------------------------- */

/*-------------------homy styling--------------------------------------- */

.homy button{
     display: none;
}

/* over----------------------------------- */

/*----------------------------------homy-2 styling----------------------------- */

.homy-2 i {
     color: #999999;
}

/*---------------------------------------------nav-bar styling-------------------------------------- */

.nav-bar {
     background-color: #fff;
}

button.list-btn{
     display: none;
}

ul.navy-ul {
     display: flex;
     justify-content: space-between;
     gap: 51px;
     align-items: baseline;
}

.nav-bar ul li:nth-child(1) a.service-cap {
     border-left: 1px solid rgb(220, 220, 220);
     padding-left: 15px;
     padding-top: 23px;
     padding-bottom: 23px;
}

i.bi.bi-house-door-fill {
     font-size: 18px;
}

.nav-bar ul li a {
     color: #999999;
     font-weight: 650;
}

.down-work {
     display: block;
     text-align: center;
}

a.new-a-tag i{
     display: none;
}

.buy-btn {
     margin-top: 20px;
}

.buy-btn button {
     background-color: orange;
     border: none;
     border-radius: 3px;
     padding: 24px 31px;
}

.buy-btn button a {
     color: white;
     font-weight: 650;
}

/* ----------------hover editing--------------------------------------- */
i.bi.bi-house-door-fill:hover {
     color: black;
}

.navigation ul li.li-list a.nav-links:hover {
     color: #000;
}

.buy-btn button:hover {
     background-color: #e39508;

}

/*--------------------------over-------------------------- */

/*------------------dropdown edit--------------------------------------- */
li.service_all {
     position: relative;
     padding-bottom: 26px;

}

ul.service-items {
     background-color: orange;
     position: absolute;
     z-index: 1;
     left: 0;
     top: 69px;
     width: 225px;
     display: none;
}

li.service-list {
     padding: 15px 15px;
     border-bottom: 1px solid white;
}

ul.service-items li.service-list a {
     transition: 0.3s;
     color: white;
}

/*over----------------------------------------- */

/*-----------------------------------------section styling----------------------------*/
section {
     position: relative;
}

/*-------------------------slider editing----------------------------------------- */


.theme_bar_parent {
     position: relative;
}

.theme_bar_parent {
     max-width: 100%;
}

.theme_bar+.container-bar-1 {
     position: absolute;
     top: 127px;
     right: 0;
     bottom: 0;
     left: 174px;
}

.theme_bar+.container-bar-2 {
     position: absolute;
     top: 127px;
     right: 0;
     bottom: 0;
     left: 174px;
}

.theme_bar+.container-bar-3 {
     position: absolute;
     top: 127px;
     right: 0;
     bottom: 0;
     left: 174px;
}

.theme_bar+.container-bar-4 {
     position: absolute;
     top: 127px;
     right: 0;
     bottom: 0;
     left: 174px;
}


.theme_bar.th-1 img {
     max-width: 100%;
     display: block;
}


.theme_bar.th-2 img {
     max-width: 100%;
     display: block;
}


.theme_bar.th-3 img {
     max-width: 100%;
     display: block;
}


.theme_bar.th-4 img {
     max-width: 100%;
     display: block;
}



.theme_bar_parent h1 {
     color: #fff;
     padding: 0 60% 15px 0;
     font-size: 40px;
}

.theme_bar_parent p {
     padding: 10px 0;
     color: #fff;
     padding: 0 53% 30px 0px;
}

.theme_bar+.container-bar h1 {
     color: white;
}

.theme_bar+.container-bar p {
     color: #fff;
     padding: 10px 0;
}


.slider_btn button:first-child {
     background-color: orange;
     border: none;
     border-radius: 3px;
     padding: 20px 30px;
}

.slider_btn button:first-child a {
     color: white;
     font-weight: 650;
}

.slider_btn button:last-child {
     background-color: #fff;
     border: none;
     border-radius: 3px;
     padding: 20px 30px;
     margin-left: 5px;
}




.slider_btn button:last-child a {
     color: #000;
     font-weight: 650;
}


#slick-slide-control00 {
     border: none;
     font-size: 0;
     display: none;
}

#slick-slide-control01 {
     border: none;
     font-size: 0;
     display: none;
}

#slick-slide-control02 {
     border: none;
     font-size: 0;
     display: none;
}

#slick-slide-control03 {
     border: none;
     font-size: 0;
     display: none;
}

#slick-slide-control04 {
     border: none;
     font-size: 0;
     display: none;
}

#slick-slide-control05 {
     border: none;
     font-size: 0;
     display: none;
}

#slick-slide-control06 {
     border: none;
     font-size: 0;
     display: none;
}

#slick-slide-control07 {
     border: none;
     font-size: 0;
     display: none;
}

#slick-slide-control08 {
     border: none;
     font-size: 0;
     display: none;
}

#slick-slide-control09 {
     border: none;
     font-size: 0;
     display: none;
}

#slick-slide-control010 {
     border: none;
     font-size: 0;
     display: none;
}

#slick-slide-control011 {
     border: none;
     font-size: 0;
     display: none;
}

#slick-slide-control012 {
     border: none;
     font-size: 0;
     display: none;
}

#slick-slide-control013 {
     border: none;
     font-size: 0;
     display: none;
}

#slick-slide-control014 {
     border: none;
     font-size: 0;
     display: none;
}

#slick-slide-control015 {
     border: none;
     font-size: 0;
     display: none;
}

.theme_slider button.slick-next.slick-arrow {
     background-image: url("assets/img/arrows.png");
     position: absolute;
     bottom: 20px;
     color: #000;
     background-color: #1f4848cf;
     background-size: 10px;
     background-position: center;
     background-repeat: no-repeat;
     border: none;
     transform: rotate(180deg);
     padding: 30px;
     font-size: 0;
     left: 258px;
     z-index: 2;
}

.theme_slider button.slick-prev.slick-arrow {
     position: absolute;
     bottom: 20px;
     background-color: #1f4848cf;
     background-image: url("assets/img/arrows.png");
     background-size: 10px;
     background-position: center;
     background-repeat: no-repeat;
     color: #000;
     left: 173px;
     font-size: 0;
     padding: 30px;
     border: none;
     z-index: 2;
}


/*over---------------------------------------------------------- */

/*-----------------------slider-detail-bar styling------------------------------ */

.slider-detail-bar {
     z-index: 1;
     background-image: linear-gradient(0deg, black, transparent);
     border-top: 1px solid rgba(239, 231, 231, 0.15);
     position: absolute;
     bottom: 0;
     width: 100%;

}

.slider-detail-bar .container .row {
     justify-content: right;
}

.social_point {
     display: flex;
     border-right: 1px solid rgba(239, 231, 231, 0.15);
     gap: 10px;
     padding: 40px 20px 0 20px;
}

.social_point a i {
     color: rgb(150, 150, 150);
     font-size: 26px;
}


.mail_point {
     display: flex;
     border-right: 1px solid rgba(239, 231, 231, 0.15);
     gap: 10px;
     padding: 30px 20px 0 20px;
}

.mail-icon i.bi.bi-envelope {
     font-size: 35px;
     color: orange;
}

.mail-content p {
     color: white;
}


.time_point {
     display: flex;
     border-right: 1px solid rgba(239, 231, 231, 0.15);
     gap: 10px;
     padding: 30px 20px 34px 20px;
}

.time-icon i.bi.bi-clock {
     font-size: 35px;
     color: orange;
}

.time-content p {
     color: white;
}


.call_point {
     display: flex;
     border-right: 1px solid rgba(239, 231, 231, 0.15);
     gap: 10px;
     padding: 30px 20px 0 20px;
}

.call-icon i.bi.bi-telephone-fill {
     font-size: 35px;
     color: orange;
}

.call-content p {
     color: white;
}

/*------------------------hover editing------------------------------ */
.slider_btn button:first-child:hover {
     background-color: #e39508;
}

button.slick-prev.slick-arrow:hover {
     background-color: rgb(150, 150, 150);
}

.slick-next.slick-arrow:hover {
     background-color: rgb(150, 150, 150);
}

.social_point a i:hover {
     color: rgb(200, 200, 200);
}

/*over--------------------------------------------------------- */

/*-----------------------------------------------section styling---------------------------- */
/*-----------------------------groups_works styling------------------------------- */

.roofing .main-parent {
     padding: 0 0 0 25px;
}

.building .main-parent {
     padding: 0 19px 0 0;
}

.main-parent-div {
     padding: 0 60px;
}

.group_works {
     padding: 60px 0;
     background-color: #fff;
}

.outside_construction {
     display: flex;
     width: 100%;
}

.building {
     width: 50%;
}

.building_img img {
     width: 100%;
     display: block;
}

.building_content h2 a {
     color: #000;
     font-size: 20px;
     padding: 20px 0;
     display: inline-block;
}

.building_content h2 a:hover {
     text-decoration: underline;
}

.building_content p {
     padding-bottom: 20px;
     color: #999;
     font-size: 15px;
}

.building_content p+a {
     color: #539ad0;
     font-weight: 700;
}

.building_content p+a:hover {
     text-decoration: #539ad0 underline;
}

.building_content p+a i {
     padding-left: 10px;
}

.roofing_img img {
     width: 100%;
     display: block;
}

.roofing_content h2 a {
     color: #000;
     font-size: 20px;
     display: inline-block;
     padding: 20px 0;
}

.roofing_content h2 a:hover {
     text-decoration: underline;
}

.roofing_content p {
     padding-bottom: 36px;
     color: #999;
     font-size: 15px;
}

.roofing_content p+a {
     color: #539ad0;
     font-weight: 700;
}

.roofing_content p+a:hover {
     text-decoration: #539ad0 underline;
}

.roofing_content p+a i {
     padding-left: 10px;
}

.roofing {
     width: 50%;
}

/*------------------------inside_construction styling----------------------------------- */

.inside_construction {
     width: 100%;
}

.inside_construction h2 {
     font-size: 17px;
     padding-left: 20px;
     padding-bottom: 10px;
}

.inside_construction h2 a {
     color: #000;
}

.inside_construction h2 a:hover {
     text-decoration: underline;
}

.inside_construction p {
     padding-left: 20px;
     color: #999;
}

.inside_construction img {
     display: block;
}

.laminate {
     display: flex;
     padding-bottom: 25px;
}

.construct_consultant {
     display: flex;
     padding-bottom: 25px;
}

.gen_contracting {
     display: flex;
     padding-bottom: 25px;
}

.hous_renovation {
     display: flex;
}

/*-----------------------------over----------------------------------*/
/*--------------------------------over--------------------------------------------- */


/*---------------------------------section styling--------------------------------- */
/*---------------category_construction styling----------------------------- */
.category_list ul {
     display: flex;
     padding-top: 51px;
     gap: 40px;
}

.category_construction {
     display: flex;
     border-bottom: 1px solid #ddd;
     justify-content: space-between;
}

.category_list ul li {
     padding-bottom: 40px;
}

.category_list ul li.active-part {
     border-bottom: 3px solid orange;
}

.category_list ul li.active-part a {
     color: #000;
}

.category_list ul li a {
     color: #999;
     transition: 0.5s;
     font-weight: 700;
}

.category_list ul li:last-child button {
     padding: 15px 35px;
     border: none;
     background-color: orange;
}

.category_list li.btn button a {
     color: #fff;
}

.category_list ul li.btn {
     padding: 0;
     display: none;
}

/*----------------------------------hover editing------------------------------------ */
.category_list ul li a:hover {
     color: #000;
}

/*-------------------------------over-------------------------------------- */

/*------------------------------------house-list styling--------------------------------- */
.house-list-slider {
     display: flex;
     flex-direction: column;
     justify-content: center;
}

.house-list {
     padding-top: 30px;
     padding-bottom: 50px;
}

.house-list .row {
     display: flex;

}

.list-slider {
     padding: 20px 0 50px 0;
}

.list-cont {
     width: 30%;
}

.img-bar img {
     width: 100%;
}

.list-slider {
     display: flex;
     justify-content: space-between;
}

.list-work-place {
     margin: 0 10px;
}

.list-content-bar {
     background-color: #fff;
}

.list-content-bar h5 a {
     color: #000;
     transition: 0.5s;
}

.list-content-bar h5 {
     padding-left: 20px;
     padding-top: 12px;
     padding-bottom: 5px;
}

.list-content-bar p {
     color: #999;
     padding-left: 20px;
     font-size: 13px;
     padding-bottom: 10px;
}

.list-content-bar a.page-icon {
     display: flex;
     justify-content: right;
}

.list-content-bar a i {
     color: #999;
     transition: 0.5s;
     display: inline-block;
     transform: rotate(40deg);
     padding-right: 12px;


}

/*-------------------hover editing -------------------------------------- */
.list-work-place:hover .list-content-bar h5 a {
     color: orange;
}

.list-work-place:hover .list-content-bar a.page-icon i {
     color: orange;
}

/*-------------------over-------------------------------------- */

/*------------list-slider button editing------------------ */
button#slick-slide-control10 {
     font-size: 0;
     display: none;
}

button#slick-slide-control11 {
     font-size: 0;
     display: none;
}

button#slick-slide-control12 {
     font-size: 0;
     display: none;
}

button#slick-slide-control13 {
     font-size: 0;
     display: none;
}

button#slick-slide-control14 {
     font-size: 0;
     display: none;
}

button#slick-slide-control15 {
     font-size: 0;
     display: none;
}

button#slick-slide-control16 {
     font-size: 0;
     display: none;
}

button#slick-slide-control17 {
     font-size: 0;
     display: none;
}

button#slick-slide-control18 {
     font-size: 0;
     display: none;
}

button#slick-slide-control19 {
     font-size: 0;
     display: none;
}

button#slick-slide-control110 {
     font-size: 0;
     display: none;
}

.append-arrows {
     display: flex;
     padding: 35px 0 20px 0;
     gap: 15px;
}

.append-arrows button.slick-prev.slick-arrow {
     background-color: #fff;
     background-size: 10px;
     background-position: center;
     background-image: url("assets/img/arrows.png");
     background-repeat: no-repeat;
     font-size: 0;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
     padding: 30px 30px;
     border: none;

}

.append-arrows button.slick-next.slick-arrow {
     background-image: url("assets/img/arrows.png");
     transform: rotate(180deg);
     background-color: #fff;
     background-size: 10px;
     background-position: center;
     background-repeat: no-repeat;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
     font-size: 0;
     padding: 30px 30px;
     border: none;
}

/*----------------------------over--------------------------------- */

/*------------------------section styling------------------------------- */
/*-----------------------renovation_construction styling--------------------------- */

.renovation_construction {
     background-color: #fff;
     padding: 50px 0 60px 0;
}

p.div-date {
     background-color: orange;
     display: inline-block;
     color: white;
     font-size: 13px;
     font-weight: 700;
     padding: 7px 9px;
}

.margin-nag {
     margin-top: -20px;
}

.reno-windows {
     width: 40%;
     height: 100%;
}

.reno-windows-work {
     padding: 0 17px;
}

.reno-windows-img img {
     max-width: 100%;
     display: block;
}

.reno-windows-img {
     border-bottom: 3px solid orange;
}

.reno-windows-content {
     padding: 0 24px;
     border-right: 1px solid #eee;
     border-bottom: 1px solid #eee;
     border-left: 1px solid #eee;
}

.reno-windows-content h3 {
     padding: 20px 0;
}

.reno-windows-content h3 a:hover {
     text-decoration: underline;
}

.reno-windows-content h3 a {
     color: #000;
}

.reno-windows-content h3+p {
     font-size: 15px;
     color: #999;
     padding-bottom: 40px;
}

.reno-dream-house {
     width: 40%;
     height: 100%;
}

.reno-dream-house-work {
     padding: 0 17px;
}

.reno-dream-img img {
     max-width: 100%;
     display: block;
}

.reno-dream-img {
     border-bottom: 3px solid orange;
}

.reno-dream-content {
     padding: 0 24px;
     border-right: 1px solid #eee;
     border-bottom: 1px solid #eee;
     border-left: 1px solid #eee;
}

.reno-dream-content h3 {
     padding: 20px 0;
}

.reno-dream-content h3 a {
     color: #000;
}

.reno-dream-content h3 a:hover {
     text-decoration: underline;
}

.reno-dream-content h3+p {
     font-size: 15px;
     color: #999;
     padding-bottom: 34px;
}

.reno-details {
     width: 40%;
     cursor: pointer;
     border-top: 1px solid #eee;
     border-right: 1px solid #eee;
     border-bottom: 1px solid #eee;
     height: 100%;
}

.reno-details-content {
     padding: 0 24px;
     border-bottom: 1px solid #eee;
     border-left: 3px solid #eee;
     transition: 0.3s;
}

.reno-details-content:hover {
     border-left-color: orange;
     background-color: #eee;
}

.reno-details-content h2 {
     font-size: 17px;
     padding-top: 30px;
}

.reno-details-content h2 a {
     color: #000;
}

.reno-details-content p {
     padding: 20px 0;
}

.reno-more-details {
     padding: 25px 24px;
     border-left: 3px solid #eee;
     transition: 0.3s;
}

.reno-more-details:hover {
     background-color: #eee;
     border-left-color: orange;
}

.reno-more-details a i {
     float: right;
}

.reno-more-details a {
     color: #539ad0;
     font-weight: 700;
}

/*------------------------over---------------------------- */
/* ----------------------over--------------------------------- */

/*-------------------------section styling----------------------------------- */
/* ---------professtional-request styling -------------------------------*/

.request-bar {
     padding: 30px 0;
     color: #999;
     font-size: 14px;
}

.requ-btn {
     display: flex;
}

.buy-btn.btn_2 {
     padding-top: 30px;
     padding-bottom: 30px;
     padding-left: 20px;
     margin-top: 0;
}

.requ-request {
     padding: 30px 0;
}

.requ-request button {
     padding: 24px 31px;
     border: 2px solid #999;
     background-color: transparent;
     border-radius: 3px;
     transition: 0.3s;
}

.requ-request button:hover {
     border-color: rgba(0, 0, 0, .5);
}

.requ-request button a {
     color: #999;
     font-weight: 700;
}

/*--------------------over------------------------------ */
/*------------------------------over----------------------------------- */

/*---------------promise_value styling------------------------------ */

.promise_value {
     background-image: url("assets/img/promise_values-1.jpg");
     background-repeat: repeat;
}

.p_v-cont {
     text-align: center;
     padding: 7em 13em;
}

.p_v-cont h1 {
     color: #333;
     font-size: 40px;
}

.p_v-cont p {
     padding: 20px 0;
}

/*---------------------over--------------------------- */

/*-----------section styling--------------------------------- */
/*------------------------author_bar styling------------------------ */

.author-slider {
     display: flex;
}

.author_main_head {
     margin: 76px 0 55px 0;
}

.author_main_head h2 {
     font-size: 35px;
}

.author-div {
     background-color: #fff;
}

.author-work-place {
     display: flex;
     padding: 3.5em 50px;
}

.auth-img img {
     max-width: 100%;
}

.auth-img {
     width: 25%;
     margin-right: 30px;
}

.auth-content {
     border-top: 1px solid #eee;
}

.auth-content p {
     margin-top: 10px;
     color: #999;
}


.auth-info {
     border-top: 1px solid #eee;
     margin-right: 30px;
     width: 50%;
}

.auth-info h3 {
     margin-top: 10px;
     font-size: 15px;
}

.auth-info p {
     color: #999;
}

/*--------------over------------------------- */
/* ---------------------------------slider editing-------------------------------- */
.slider-button-work {
     border-left: 4px solid orange;
     padding-right: 150px;
}

.author-slider button.slick-next.slick-arrow {
     position: absolute;
     right: -150px;
     z-index: 1;
     background-image: url("assets/img/arrows.png");
     transform: rotate(180deg);
     background-color: #fff;
     background-size: 10px;
     background-position: center;
     background-repeat: no-repeat;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
     font-size: 0;
     padding: 105px 30px;
     border: none;
}

.author-slider button.slick-prev.slick-arrow {
     position: absolute;
     z-index: 1;
     right: -76px;
     background-color: #fff;
     background-size: 10px;
     background-position: center;
     background-image: url("assets/img/arrows.png");
     background-repeat: no-repeat;
     font-size: 0;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
     padding: 105px 30px;
     border: none;
}

/*------------------ over------------------------- */
/*-------------------over------------------------------------ */

/*-----------------------------------partner-sect styling---------------------------------- */

.partner-sect {
     background-color: #fff;
     margin: 50px 0;
}

.partner-head h2 {
     padding: 60px 0 60px 0;
     font-size: 35px;
}

.part-company {
     width: 15%;
     border: 1px solid #eee;
     transition: 0.3s;
     margin-bottom: 60px;
}

.part-company img {
     max-width: 100%;
     display: block;
}

/*------------------------hover editing--------------------------------- */
.part-company:hover {
     border: 1px solid orange;
}

/*-------------------------over--------------------------- */
/*------------------------over-------------------------------------- */

/*--------------------------------------site_obj styling-------------------------- */
.site_obj {
     padding-bottom: 60px;
}

.logo-side {
     width: 30%;
     margin-right: 30px;
}

.logo-side a {
     color: #539ad0;
}

.logo-bar img {
     width: 100%;
     margin-top:20px;
}

.logo-side p {
     color: #999;
}

.extras {
     width: 30%;
}

.extras h4 {
     color: #000;
}

.extras h4 + ul{
     padding: 20px 0;
}

.extras a {
     color: #999;
}

.extras li {
     margin-bottom: 10px;
}

.our-ser {
     width: 30%;
}

.our-ser h4 {
     color: #000;
}

.our-ser h4 + ul{
     padding: 20px 0;
}

.our-ser a {
     color: #999;
}

.our-ser li {
     margin-bottom: 10px;
}

.contect {
     width: 30%;
}

.contect h4 {
     color: #000;
     margin-bottom: 30px;
}

.contect i {
     margin-right: 10px;
}

.contect p {
     color: #999;
     display: block;
     margin-bottom: 10px;
}

.social-bar a i {
     margin-right: 6px;
     color: #999;
     font-size: 20px;
}

/*--------------------------hover editing---------------------------- */
.logo-side a:hover {
     text-decoration: #539ad0 underline;
}

.extras a:hover {
     text-decoration: underline;
}

.our-ser a:hover {
     text-decoration: underline;
}

.social-bar i:hover {
     color: orange;
}

/*---------------------over------------------------------------- */
/*---------------------over------------------------------------------- */
/*---------------------over-------------------------------------------------- */

/*---------------------------payment-bar styling------------------------------ */
.payment-bar{
     background-color: #fff;
     padding: 15px 0;
}
.payment-bar .container .row{
     justify-content: center;
}

.payment-type{
     margin: 0 10px;
}

.payment-type p{
     background-color:#999;
     font-size: 10px;
     padding: 10px;
     color: #eee;
}

/*-------------------------------over--------------------------- */
/*---------------------------footer styling------------------------------ */
/*-----------------------------------last_copyright styling------------------------- */
.left-bar{
     margin: 30px 0;
}
.left-bar h5 a{
     color: #000;
     font-size: 13px;
}

.left-bar h5{
     display: inline;
}

.left-bar p{
     color: #999;
     display: inline;
     font-size: 13px;
}

.right-bar{
     margin: 30px 0;
     color: #999;
}

.right-bar p{
     font-size: 13px;
}


/*---------------hover editing------------------ */
     .left-bar h5 a:hover{
          text-decoration: underline;
     }
/*----------------------over---------------- */
/*------------------------------------over--------------------- */
/*----------------------over----------------------------------- */